* {
  font-family: "Noto Sans Bengali", "Siyam Rupali" "Poppins", "Arial",
    "Helvetica", sans-serif;
}

/* fonts properties */
.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-bengali {
  font-family: "Noto Sans Bengali", serif;
  font-optical-sizing: auto;
  font-weight: 60;
  font-style: normal;
  font-variation-settings: "width" 100;
}
